

.posts-container::-webkit-scrollbar {
  display: none;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px 0;  
  width: 100%;     
  max-width: none; 
  padding: 0 10px
}


.post-card {
  text-align: center;
  padding: 10px;
  border-radius: 8px;  box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
  background: white;
}

.post-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: flex-start; 
}

.post-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.post-username {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #829672;
}

.post-image {
  width: calc(100% - 20px);
  height: auto;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.post-items-list {
  color: #829672;
  list-style: none;
  padding: 0;
  margin: 8px 0 0 0;
  text-align: left;
}

.post-item {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #829672;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.toggle-comments-btn {
  font-family: 'Inter', sans-serif;
  font-weight: 600; 
  background: none;
  color: #D8959B;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 4px;
  text-align: left;
  padding: 0;
}

.post-comments-list {
  list-style: none;
  padding: 0;
  margin: 8px 0 0;
  text-align: left;
}

.post-comment {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #D8959B;
  border-top: 1px solid #eee;
  padding: 6px 0;
  text-align: left;
}


.comment-username {
  font-weight: 900px;
  color: #829672;
  margin-right: 6px;
}

.divider {
  border: 1.5px solid #D8959B;
  margin: 8px 0;
}

.post-image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.favorite-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #f2d1d4;
  border: none;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;  
}

.favorite-icon {
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.delete-post-btn {
  background: #f2d1d4;
  color: #D8959B;
  border: none;
  padding: 4px 8px;
  margin: 4px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
}
.delete-post-btn:hover {
  background: #e60000;
}
